/** User interface styles for the Trendy Lights app. */

/* Shared across all screen sizes. */

.trendy h1 {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  z-index: 1;
  margin: 0px;
  color: black;
}

html {
    min-height: 100%
}

body {
    min-height: 100%
}

.trendy {
    min-height: 100%
}

html,
body,
.trendy,
.trendy .map {
  height: 85%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.trendy .UI {
  height: 15%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

/* Large screens. */

@media (min-width: 900px) {
  .trendy h1 {
    left: 40px;
    top: 30px;
    font-size: 56px;
    opacity: .98;
  }
}
