/** User interface styles for the Trendy Lights app. */

/* Shared across all screen sizes. */

.trendy h1 {
  font-family: 'Roboto Condensed', sans-serif;
}

html {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0
}

.trendy {
    min-height: 100%;
    margin: 0;
    padding: 0
}
 .switch {
      position: relative;
      display: inline-block;
      width: 32px;
      height: 18px;
     }

  .switch input {display:none;}

  .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
         transition: .4s;
  }

 .slider:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
}

input:checked + .slider {
      background-color: #2196F3;
  }

input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

input:checked + .slider:before {
       -webkit-transform: translateX(14px);
       -ms-transform: translateX(14px);
       transform: translateX(14px);
  }

  /*
input[type=radio]:checked ~ .check {
      border: 5px solid #0DFF92;
  }

  input[type=radio]:checked ~ .check::before{
        background: #0DFF92;
    }

    input[type=radio]:checked ~ label{
          color: #0DFF92;
      }
*/

html,
body,
.trendy,
.trendy .map {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.trendy .detailstab {
  position: absolute;
  z-index: 10;
  background-color: rgba(252, 255, 255, 1.00);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center
}

.trendy .scenariotab {
  position: absolute;
  z-index: 10;
  background-color: rgba(252, 255, 255, 1.00);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center
}

.trendy .scenarioUI {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  font-family: 'Roboto', sans-serif;
}

.trendy .panel {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  box-sizing: border-box;
}

.trendy .panel .details {
  max-height: 400px;
  padding-right: 10px;
}

.trendy .legend {
  position: absolute;
  bottom: 40px;
  left: 20px;
  background-color: white;
  font-size: 14px;
  padding: 10px;
  margin: 10px;
}

.trendy .layerUI {
  position: absolute;
  top: 0px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

/* Large screens. */

@media (min-width: 900px) {
  .trendy h1 {
    font-size: 36px;
    padding-left: 20px;
    padding-right: 40px;
  }

  .trendy .layerUI {
    font-size: 16px;
  }

 .trendy .layerUI td {
    padding-left: 10px;
    padding-right: 10px;
}
  
  .trendy .detailstab {
    width: 100px;
    height: 50px;
    left: -25px;
    top: 150px;
    transform: rotate(90deg);
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    cursor: pointer;
  }

  .trendy .scenariotab {
    width: 100px;
    height: 50px;
    right: -25px;
    top: 150px;
    transform: rotate(270deg);
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    cursor: pointer;
  }
 
  .trendy .scenarioUI {
    width: 400px;
    height: 400px;
    top: 126px;
    right: 0px;
    overflow: hidden;
  }

  .trendy .scenarioUI .left {
    width: 200px;
    left: 0px;
    display: block;
  }

  .trend .secnarioUI .right {
      width: 200px;
      right: 0px;
      display: block;
  }
 
  .trendy .scenarioUI .close {
    position: absolute;
    bottom: 14px; 
    left: 14px;
    cursor: pointer;
    z-index: 2;
  }

  .trendy .panel {
    width: 500px;
    left: 0px;
    top: 126px;
    padding: 14px;
    opacity: 1.0;
  }

  .trendy .panel .details .collapsed {
    visibility: hidden;

    }

  .trendy .panel .title {
    position: absolute;
    top: 14px; 
    left: 14px;
    z-index: 2;
  }
  
  .trendy .panel .close {
    position: absolute;
    top: 14px;
    right: 14px;
    cursor: pointer;
    z-index: 2;
  }

}
